# Environment variables
# These are set in Amplify environment variables for production
# Copy to .env.local for local development

# API Gateway
NEXT_PUBLIC_API_GATEWAY_URL=https://ge9r132tck.execute-api.us-west-2.amazonaws.com

# AWS Cognito
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-west-2_zY0Mfeg3Z
NEXT_PUBLIC_COGNITO_CLIENT_ID=q6qis2h7je8v8prffobqtc6qt
